* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game {
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(#87ceeb, #e0f6ff);
    border-bottom: 20px solid rgb(56, 255, 6);
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.clouds {
    top: 20px;
    width: 400px;
    position: absolute
}

.start .clouds {
    animation: clouds-animation 10s infinite linear;
}

@keyframes clouds-animation {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}

.mario{
    height: 120px;
    position: absolute;
    bottom: 0;
}

.start .jump {
    animation: jump-animation 500ms;
}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 120px;
    }

    60% {
        bottom: 120px;
    }

    100% {
        bottom: 0;
    }
}

.pipe {
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;  
}

.start .pipe {
    animation: pipe-animation 1.2s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -100px;
    }

    to {
        right: 100%;
    }
}

.restart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(41, 10, 145);
    border-radius: 10px;
    padding: 10px;
}

.restart h2 {
    color: white;
    margin-bottom: 8px;
}

.restart button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: black;
    font-weight: bold;
    padding: 3px;
    border-radius: 7px;
    cursor: pointer;
}

.score{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: red;
    font-size: 18px;
}